.img{
  width: 600px;
  height: 600px;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid grey;
  margin: 5px;
  border-radius: 30%;
  object-fit: cover;
}
.img-portret{
  object-position: top;

}